<div class="container" >
    <div style="float:left;">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#cadastro-rh">Estudante</a></li>
            <li role="presentation"><a href="#cadastro-pesq">Pesquisador</a></li>
            <li role="presentation"><a href="#cadastro-volu">Voluntario</a></li>
        </ul> 
    </div>
 
<div style="float:right; width:85%" ng-controller="CharactersCtrl">    
        <div class="panel" style="background-color: #F5F5F5;">
            <h2 style="text-align: center;">Estudantes</h2>    
        </div>
        <div class="control-group" style="padding-bottom: 10px;">
            <div class="col-lg-13">
                <div class="input-group">
                    <input type="text" ng-model="searchChar" class="form-control" placeholder="Pesquisar...">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal"></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <table id="tabela" class="table table-striped table-bordered" cellspacing="0" width="40%">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Status</th>
                        <th>Descrição</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                     <tr ng-repeat="char in characters| filter:searchChar">
                        <td>{{char.name}}</td>
                        <td>{{char.role}}</td>
                        <td>{{char.gender}}</td>
                        <td>teste</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
 
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">Cadastro de Estudante</h3>
            </div>

            <div id="formulario" >
                <form novalidate name="customerForm" ng-submit="vm.save(vm.customer)">

                    <div class="form-group" ng-class="{
                                'has-error':customerForm.titulo.$invalid && !customerForm.titulo.$pristine }">
                        <label>Nome</label>
                        <input name="nome" type="text" class="form-control" required ng-minlength="4" ng-model="vm.customer.titulo">
                        <p ng-show="customerForm.titulo.$error.minlength"class="help-block">
                            Nome muito Curto!
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Data Nascimento</label>
                        <input name="status" type="date" class="form-control" required ng-minlength="4">
                        <p ng-show="customerForm.status.$error.minlength"class="help-block">
                            Status muito Curto!
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Sexo</label>
                        <p>
                            <label class="radio-inline"><input type="radio" name="optradio">Masculino</label>
                            <label class="radio-inline"><input type="radio" name="optradio">Feminino</label>
                        </p>

                    </div>

                    <div class="form-group">
                        <label>RG</label>
                        <input name="rg" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Orgão Emissor</label>
                        <input name="rgaoEmissor" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Data Emissão</label>
                        <input name="rgaoEmissor" type="date" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Matricula</label>
                        <input name="matricula" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Nacionalidade</label>
                        <input name="nacionalidade" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>País</label>
                        <input name="pais" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Passaporte</label>
                        <input name="passaporte" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>visto</label>
                        <input name="visto" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Período de Vigência</label>
                        <input name="periodoVigencia" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Endereço</label>
                        <input name="endereco" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>CEP</label>
                        <input name="cep" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Cidade</label>
                        <input name="cidade" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>UF</label>
                        <input name="uf" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Telefone</label>
                        <input name="telefone" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Celular</label>
                        <input name="celular" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Link Curriculo Lattes</label>
                        <input name="curriculo" type="text" class="form-control" required ng-minlength="4">
                    </div>

                    <div class="form-group">
                        <label>Data Ultima Atualização Curriculo Lattes</label>
                        <input name="dataCurriculo" type="date" class="form-control" required ng-minlength="4">
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="customerForm.$invalid" class="btn btn-primary">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>