<div ng-controller="headerController">
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand centralizar-logo">
                    <img class="logotipo" alt="Brand" src="./resources/image/tutor-icon.png">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#index">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#cadastro-rh">RH</a></li>
                            <li><a href="#cadastro-proj">Projeto de Pesquisa</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>